<%layout("/layouts/boilerplate.ejs")-%>
<body>
    <div class="main">
        <form class="login" method="post" action="/login">
            <div class="title">
                <p>Log In</p>
            </div>
            <div class="small">
                <div class="input1">
                    <label for="username">Username</label>
                    <input type="text" class="username" name="username" placeholder="Enter your Username">
                </div>
                <div class="input2">

                    <label for="username">Password</label>
                    <input type="password" class="username" name="password" placeholder="Enter your Password">
                </div>
        
            </div>
            <div class="btn">
                <button>Login</button>
                <span style="color: white;">Or</span>
                <a href="/signup">Sign Up</a>
            </div>
            
        </form>
    </div>
</body>
