<%layout("/layouts/boilerplate.ejs")-%>
<body>
    <div class="n">
        <h1 style="color: white;margin-bottom: 4rem; "><%=s%></h1>
        <a href="/all" class="back" ><img src="left-chevron.png" style="width: 2rem;" alt="">Back</a>

    </div>
</body>